/* File: styles.css */
.myButtons {
    padding: 8px 14px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

img {
	width: 50%;
}

#text {
	font-size: 18px;
	font-family: 'Times New Roman', serif;
}

select {
	background-color: gray;
	color: white;
}
