/* File: cssTransitions.css */
a:visited {
	color: #000;
}

a {
	transition: color 1s ease 0s;
	text-decoration: none;
}

a:link {
	color: #000;
}

a:hover {
	color: #ff0;
}

input[type="text"] {
	width: 350px;
	outline: none;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 7px;
	margin: 6px 0px 16px 0px;
	transition: 500ms linear;
	background-color: #fcf9c2;
}

input#example1:focus {
	width: 450px;
	background-color: #2f5bf8;
}

input#example2:focus {
	width: 450px;
	background-color: #2f5bf8;
}

input#example3:focus {
	width: 450px;
	background-color: #2f5bf8;
}