/* File: cssTransitions.css */
body {
	margin: auto;
	padding: .5rem;
	max-width: 1000px;
	font-family: Ubuntu, sans-serif;
	background-color: lightgray;
}

a {
	transition: color 1s ease 0s;
	text-decoration: none;
}

a:link {
	color: #00f;
}

a:hover {
	color: #ff0;
}
