/* File: cssTransitions.css */
body {
	margin: auto;
	padding: .5rem;
	max-width: 1000px;
	font-family: Ubuntu, sans-serif;
	background: #fff;
}

a {
	transition: color 1s ease 0s;
}

a:link {
	color: #000000;
}

a:hover {
	color: #cc2200;
}